@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.timebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5rem;
    background-color: $lightgrey;
    @include subheader;
    @include tablet{
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__title{
        display: flex;
        justify-content: center;
        color: $light-black;
        padding: 1rem;
    }
    &__month{
        padding: 0 1rem 1rem 1rem;
        @include tablet{
            padding: 1rem;
        }
    }
}
.expenseCharts{
    display: flex;
    flex-direction: column;
    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &item{
        @include tablet{
            width: 50%;
        }
    }
}