$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$white: #FFFFFF;
$black: #000000;
$light-black: #13182C;
$indigo: #2E66E5;
$off-white: #FFFFFF;
$slate: #5C667E; 
$cloud: #BDC5D5;
$teal: #2e4023;
$lightgrey: #F7F8F9;
$light-pink: #d3aac2;
$green: #158463;
$red: #C94515;
$light-green: #06240d;