@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.header {
    background-color: $teal;
    color: $cloud;
    width: 100%;
    display: flex;
    flex-direction: column;
    // height: 10rem;
    @include subheader;
    @include tablet{
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__logo{
        display: flex;
        // border: 1px solid $white;
        @include tablet {
            width: 40%;
        }
        &__items {
            display: flex;
            text-decoration: none;
            color: $cloud;
            &-text {
                text-align: center;
                justify-content: center;
                padding: 1.5rem 0 1.5rem 0;

                @include page-header;
                @include tablet {
                    // width: 40%;
                    padding: 1.5rem 0;
                    text-align: center;
                }
            }
            &-image{
                width: 3rem;
                height: 3rem;
                padding: 1rem;
            }
            &-logout{
                padding: 2rem 0;
                margin-left: 2rem;
                @include subheader;
                @include tablet{
                    display: none;
                }
            }
        }
    }
    &__nav{
        display: flex;
        color: $cloud;
        @include subheader;
        @include tablet {
            width: 50%;
            justify-content: flex-end;
            align-items: center;
        }
        &__links {
            text-decoration: none;
            color: $cloud;
        }
        &-item{
            text-decoration: none;
            color: $cloud;
            text-align: center;
            width: 100%;
            height: inherit;
            padding: 1rem 0;
            text-wrap: wrap;
            &:hover {
                text-decoration: none;
                background-color: $light-green;
            }
            &--active {
                background-color: $light-green;
                height: inherit;
            }
        }
    }
    &__logout{
        display: none;
        @include tablet {
            display: flex;
            padding: 1.5rem 0;
            margin-left: 1rem;
            margin-right: 1rem;
            @include subheader;
            &:hover{
                background-color: $red;
                opacity: 30%;
            }
        }
        
    }
}