@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.footer {
    width: 100%;
    height: fit-content;
    background-color: $teal;
    color: $cloud;
    display: flex;
    flex-direction: column;
    &__promise{
        height: 3rem;
        line-height: 3rem;
        display: flex;
        justify-content: center;
    }
    &__container{
        display: flex;
        justify-content: center;

    }
    &__icons{
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 0.5rem;
        &-image{
            width: 2rem;
            height: 2rem;
            background-color: $teal;
        }
    }
}